#personal-details-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
}
#personal-details-wrapper {
    border: 1px black solid;
    display: block;
    text-align: center;
    height: auto;
    margin: 0 auto;
}
h1, h2 {
    color: rgb(76, 161, 66);
}
#currentDayOfTheWeek {
    display: inline-block;
}
#currentUTCTime {
    display: inline-block;
}
#currentUTCHour {
    display: inline-block;
}
#currentUTCMinute {
    display: inline-block;
}
#ap {
    display: inline-block;
}
#myTrack {
    margin-top: -10px;
}
#githubURL {
    margin: 20px auto;
}